.page-title {
  font-size: x-large;
  font-weight: normal;
  margin: 0;
}

.entry {
  margin-right: 10px;
  margin-bottom: 30px;
  font-size: 90%;
  word-wrap: break-word;
}

.ttl {
  border-bottom: 1px dashed;
}

.category {
  color: #fff;
  font-size: small;
}

.category-世の中 {
  background-color: #a78358;
}

.category-政治と経済 {
  background-color: #a78358;
}

.category-暮らし {
  background-color: #068b71;
}

.category-学び {
  background-color: #068b71;
}

.category-エンタメ {
  background-color: #f5ac0f;
}

.category-アニメとゲーム {
  background-color: #f5ac0f;
}

.category-おもしろ {
  background-color: #f5ac0f;
}

.category-テクノロジー {
  background-color: #00a5de;
}

.bkcnt {
  font-weight: bold;
  color: #f66;
  text-decoration: underline;
  background-color: #fff0f0;
}

.new {
  color: #f00;
  font-size: small;
}

.dsc {
  color: #666;
  font-size: x-small;
}
